# **Data Wrangling Notebook**

Objectives:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

Import module.

In [5]:
import pandas as pd

Load the dataset into dataframe.

In [6]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

Finding how many duplicate rows exist in the dataframe.

In [57]:
print(f'Dataframe contains {len(df)} rows')
duplicates = df[df.duplicated()]
print(f'There are {len(duplicates)} duplicates')

Dataframe contains 11552 rows
There are 154 duplicates

Removing the duplicate rows from the dataframe.

In [59]:
new_df = df.drop_duplicates()

Verifying if duplicates were actually dropped.

In [64]:
print(f'Dataframe now contains {len(new_df)} rows')
duplicates = new_df[new_df.duplicated()]
print(f'There are {len(duplicates)} duplicates')

Dataframe now contains 11398 rows
There are 0 duplicates

Finding the missing values for all columns.

In [65]:
missing_data = new_df.isnull()
print(missing_data)

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11547       False       False     False        False       False       False
11548       False       False     False        False       False       False
11549       False       False     False        False       False       False
11550       False       False     False        False       False       False
11551       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11547    False    False    False           False  ...          False
11548    False    False    False           False  ...          False
11549    False    False    False           False  ...          False
11550    False    False    False            True  ...          False
11551    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11547         False  False   False  False      False      False       False
11548         False  False   False  False      False      False       False
11549         False  False   False  False      False      False       False
11550          True  False   False  False      False      False       False
11551         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11547         False       False
11548         False       False
11549         False       False
11550         False       False
11551         False       False

[11398 rows x 85 columns]

Finding out how many rows are missing in the column 'WorkLoc'

In [66]:
x = 0 
for row in missing_data['WorkLoc']:
    if row == True:
        x += 1
print(f'Missing data: {x}')

Missing data: 32

We need to now impute the missing values.

First, find the  value counts for the column WorkLoc.

In [67]:
new_df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent in the WorkLoc column, an then pop in a variable for future reference.

In [73]:
new_df['WorkLoc'].describe()
most_frequent = 'Office'

Imputing all the empty rows in WorkLoc with most frequent value.

In [69]:
new_df['WorkLoc'].fillna(most_frequent, inplace=True)

/var/folders/gl/vtmfpjnn42b_kzpgqwhnxrrw0000gn/T/ipykernel_3362/3366832723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['WorkLoc'].fillna(most_frequent, inplace=True)

Verify if imputing was successful.

In [70]:
# your code goes here
missing_data = new_df.isnull()
y = 0
for row in missing_data['WorkLoc']:
    if row == True:
        y += 1
print(f'Missing data: {y}')

Missing data: 0

'There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.' - Assignment instructions

<hr>

Using value_counts() to list the various categories in 'CompFreq'

In [71]:
new_df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Creating a new column called 'NormalizedAnnualCompensation'

In [72]:
annual_compensation = []

for freq, total in zip(new_df['CompFreq'], new_df['CompTotal']):
    if freq == 'Yearly':
        annual_compensation.append(total)
                                   
    elif freq == 'Monthly':
        annual_compensation.append(total * 12)
    elif freq == 'Weekly':
        annual_compensation.append(total * 52)
    else:
        annual_compensation.append(total)


new_df['NormalizedAnnualCompensation'] = annual_compensation

100000.0

/var/folders/gl/vtmfpjnn42b_kzpgqwhnxrrw0000gn/T/ipykernel_3362/3645812656.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['NormalizedAnnualCompensation'] = annual_compensation